<a href="https://colab.research.google.com/github/YuvanBharathi13/EDA-PROJECT/blob/main/yuvan_new.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/salemprakash/EDA/main/Data/Liver%20Data.csv")
df.head()

,Age of the patient,Gender of the patient,Total Bilirubin,Direct Bilirubin,Alkphos Alkaline Phosphotase,Sgpt Alamine Aminotransferase,Sgot Aspartate Aminotransferase,Total Protiens,ALB Albumin,A/G Ratio Albumin and Globulin Ratio,Result
0,65.0,Female,0.7,0.1,187.0,16.0,18.0,6.8,3.3,0.90,1
1,62.0,Male,10.9,5.5,699.0,64.0,100.0,7.5,3.2,0.74,1
2,62.0,Male,7.3,4.1,490.0,60.0,68.0,7.0,3.3,0.89,1
3,58.0,Male,1.0,0.4,182.0,14.0,20.0,6.8,3.4,1.00,1
4,72.0,Male,3.9,2.0,195.0,27.0,59.0,7.3,2.4,0.40,1

In [6]:
df.describe()

,Age of the patient,Total Bilirubin,Direct Bilirubin,Alkphos Alkaline Phosphotase,Sgpt Alamine Aminotransferase,Sgot Aspartate Aminotransferase,Total Protiens,ALB Albumin,A/G Ratio Albumin and Globulin Ratio,Result
count,30689.000000,30043.000000,30130.000000,29895.000000,30153.000000,30229.000000,30228.000000,30197.000000,30132.000000,30691.000000
mean,44.107205,3.370319,1.528042,289.075364,81.488641,111.469979,6.480237,3.130142,0.943467,1.285882
std,15.981043,6.255522,2.869592,238.537589,182.158850,280.851078,1.081980,0.792281,0.323164,0.451841
min,4.000000,0.400000,0.100000,63.000000,10.000000,10.000000,2.700000,0.900000,0.300000,1.000000
25%,32.000000,0.800000,0.200000,175.000000,23.000000,26.000000,5.800000,2.600000,0.700000,1.000000
50%,45.000000,1.000000,0.300000,209.000000,35.000000,42.000000,6.600000,3.100000,0.900000,1.000000
75%,55.000000,2.700000,1.300000,298.000000,62.000000,88.000000,7.200000,3.800000,1.100000,2.000000
max,90.000000,75.000000,19.700000,2110.000000,2000.000000,4929.000000,9.600000,5.500000,2.800000,2.000000

Even though there are multiple rows with the same value there is no need to drop all duplicate rows because when it comes to medical data it is common for patients with the same condition to exhibit similar biochemical values.

In [5]:
pd.value_counts(df.duplicated())

<ipython-input-5-e6b28e2d5271>:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(df.duplicated())

False    19368
True     11323
Name: count, dtype: int64

In [38]:
for i in df.columns:
  print(i.strip())

Age of the patient
Gender of the patient
Total Bilirubin
Direct Bilirubin
Alkphos Alkaline Phosphotase
Sgpt Alamine Aminotransferase
Sgot Aspartate Aminotransferase
Total Protiens
ALB Albumin
A/G Ratio Albumin and Globulin Ratio
Result

In [10]:
df.isnull().sum()

Age of the patient                        2
Gender of the patient                   902
Total Bilirubin                         648
Direct Bilirubin                        561
 Alkphos Alkaline Phosphotase           796
 Sgpt Alamine Aminotransferase          538
Sgot Aspartate Aminotransferase         462
Total Protiens                          463
 ALB Albumin                            494
A/G Ratio Albumin and Globulin Ratio    559
Result                                    0
dtype: int64

In [12]:
df.isnull().sum().sum()

5425

In [16]:
df.isna()

,Age of the patient,Gender of the patient,Total Bilirubin,Direct Bilirubin,Alkphos Alkaline Phosphotase,Sgpt Alamine Aminotransferase,Sgot Aspartate Aminotransferase,Total Protiens,ALB Albumin,A/G Ratio Albumin and Globulin Ratio,Result
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
30686,False,False,False,False,False,False,False,False,False,False,False
30687,False,False,False,False,False,False,False,False,False,False,False
30688,False,False,False,False,False,False,False,False,False,False,False
30689,False,False,False,False,False,False,False,False,False,False,False
30690,False,False,False,False,False,False,False,False,False,False,False

Since Gender plays an important role in the analysis rows without a gender should be removed becuase the human anotamy of the male and the female are completely different.

In [30]:
pd.value_counts(df["Gender of the patient"].isna())

<ipython-input-30-04003d2cde1d>:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(df["Gender of the patient"].isna())

Gender of the patient
False    29789
True       902
Name: count, dtype: int64

In [33]:
df1 = df.dropna(subset=["Gender of the patient"])
pd.value_counts(df1["Gender of the patient"].isna())

<ipython-input-33-e0b3cadcd415>:2: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(df1["Gender of the patient"].isna())

Gender of the patient
False    29789
Name: count, dtype: int64

In [35]:
df1.isnull().sum()

Age of the patient                        2
Gender of the patient                     0
Total Bilirubin                         419
Direct Bilirubin                        459
 Alkphos Alkaline Phosphotase           726
 Sgpt Alamine Aminotransferase          481
Sgot Aspartate Aminotransferase         409
Total Protiens                          422
 ALB Albumin                            455
A/G Ratio Albumin and Globulin Ratio    517
Result                                    0
dtype: int64

In [47]:
df1.columns = [col.strip() for col in df1.columns] # cleaning the names of the columns by using strip() function

In [48]:
for i in df1.columns:
  print(i)

Age of the patient
Gender of the patient
Total Bilirubin
Direct Bilirubin
Alkphos Alkaline Phosphotase
Sgpt Alamine Aminotransferase
Sgot Aspartate Aminotransferase
Total Protiens
ALB Albumin
A/G Ratio Albumin and Globulin Ratio
Result

In [51]:
for col in df1.columns:
  x = df1[col] == "?"
  print(x.value_counts()) # checking if each column has any "?" in them

Age of the patient
False    29789
Name: count, dtype: int64
Gender of the patient
False    29789
Name: count, dtype: int64
Total Bilirubin
False    29789
Name: count, dtype: int64
Direct Bilirubin
False    29789
Name: count, dtype: int64
Alkphos Alkaline Phosphotase
False    29789
Name: count, dtype: int64
Sgpt Alamine Aminotransferase
False    29789
Name: count, dtype: int64
Sgot Aspartate Aminotransferase
False    29789
Name: count, dtype: int64
Total Protiens
False    29789
Name: count, dtype: int64
ALB Albumin
False    29789
Name: count, dtype: int64
A/G Ratio Albumin and Globulin Ratio
False    29789
Name: count, dtype: int64
Result
False    29789
Name: count, dtype: int64

In [60]:
# cleaning Age of the patient column

In [61]:
df1.loc[:,"Age of the patient"] = df["Age of the patient"].replace(to_replace=np.nan,value=df["Age of the patient"].mean())

In [62]:
df1.isnull().sum()

Age of the patient                        0
Gender of the patient                     0
Total Bilirubin                         419
Direct Bilirubin                        459
Alkphos Alkaline Phosphotase            726
Sgpt Alamine Aminotransferase           481
Sgot Aspartate Aminotransferase         409
Total Protiens                          422
ALB Albumin                             455
A/G Ratio Albumin and Globulin Ratio    517
Result                                    0
dtype: int64

In [63]:
# cleaning Total Bilirubin column

In [66]:
df1.loc[:,"Total Bilirubin"] = df["Total Bilirubin"].replace(to_replace=np.nan,value=df["Total Bilirubin"].mean())

In [67]:
df1.isnull().sum()

Age of the patient                        0
Gender of the patient                     0
Total Bilirubin                           0
Direct Bilirubin                        459
Alkphos Alkaline Phosphotase            726
Sgpt Alamine Aminotransferase           481
Sgot Aspartate Aminotransferase         409
Total Protiens                          422
ALB Albumin                             455
A/G Ratio Albumin and Globulin Ratio    517
Result                                    0
dtype: int64